.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.textofoto {
  position: absolute;
}

.link-btn {
  text-decoration: none;
  color: white;
}

.link-btn:hover {
  text-decoration: none;
  color: rgb(197, 224, 192);
}

.link {
  text-decoration: none;
  color: olive
}


/* FORMULARIOS */
.form-center {
  display: flex;
  justify-content: center;
}

.form-control {
  margin-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: olive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ELEMENTO CHECKBOX */
.switch {
  font-size: 10px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
 }
 
 /* Hide default HTML checkbox */
 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
 }
 
 /* The slider */
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 30px;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  transition: .4s;
 }
 
 input:checked + .slider {
  background-color: olive;
 }
 
 input:focus + .slider {
  box-shadow: 0 0 1px olive;
 }
 
 input:checked + .slider:before {
  transform: translateX(1.5em);
 }